<!-- Κείμενο αρχικής οθόνης -->
<section aria-label="Υποβολή νέας αναφοράς">
    <p>
        Η παρούσα πλατφόρμα αποτελεί ένα εμπιστευτικό κανάλι ηλεκτρονικής υποβολής αναφορών για τον Oργανισμό <span class="bold">{{company.name}}</span>, το οποίο μπορείτε να αξιοποιήσετε για να υποβάλετε αναφορά για παραβιάσεις του ενωσιακού δικαίου τις οποίες αντιληφθήκατε εντός του εργασιακού σας πλαισίου. 
    </p>

    <p>
    Η πλατφόρμα ηλεκτρονικής υποβολής αναφορών αφορά την προστασία των προσώπων που αναφέρουν παραβιάσεις ενωσιακού δικαίου (whistleblowers) και έχει ως στόχο την διευκόλυνση και την ενθάρρυνση της υποβολής των εμπιστευτικών αναφορών και των πληροφοριών από άτομα, δίχως το φόβο αντιποίνων. 
    </p>

    <p>
    Συγκεκριμένα αποτελεί υποχρέωση βάσει της Ευρωπαϊκής Οδηγίας 2019/1937, όπως αυτή ενσωματώθηκε στο Εθνικό Δίκαιο βάσει του ν. 4990/2022. Περισσότερες πληροφορίες για το Νόμο 4990/2022 μπορείτε να δείτε εδώ. 
    </p>

    <p>
    Εάν σας συνδέει οποιαδήποτε εργασιακή σχέση με τον Οργανισμό, σύμφωνα με το προσωπικό πεδίο εφαρμογής του ως άνω νόμου, ήτοι: εργαζόμενος, μέλος του Συμβουλίου Διοίκησης, μη μισθωτός, αυτοαπασχολούμενος, σύμβουλος, εργαζόμενος κατ’ οίκον, εθελοντής, αμειβόμενος ή μη αμειβόμενος ασκούμενος, εργαζόμενος υπό την εποπτεία και οδηγίες αναδόχων, υπεργολάβων, προμηθευτών, και αποκτήσατε πληροφορίες στο πλαίσιο της εργασιακής σας σχέσης ή ακόμη κι αν η εργασιακή σας σχέση έχει λήξει για οποιονδήποτε λόγο ή δεν έχει ξεκινήσει ακόμη, μπορείτε να υποβάλετε την αναφορά σας εδώ.
    </p>

    <!-- Κουμπί υποβολής -->
    <div class="center-contents">
        <button type="button" class="btn btn-primary my-3 text-center" data-bs-toggle="modal" data-bs-target="#infoModal" >ΥΠΟΒΟΛΗ ΑΝΑΦΟΡΑΣ</button>
    </div>
</section>



<hr>

<section aria-label="Προβολή υπάρχουσας αναφοράς">

    <p class="pb-1">Αν έχετε ήδη υποβάλει την αναφορά σας, εισαγάγετε εδώ τα στοιχεία της για να δείτε την εξέλιξή της:</p>

    <form method="POST" action="./case" enctype="application/x-www-form-urlencoded">
    <div class="">
        <label for="case" class="form-label mt-3">Aριθμός αναφοράς</label>
        <input name="id" type="text" class="form-control" id="case" value="{{caseId}}" required>
    </div>
    <div class="">
        <label for="pin" class="form-label mt-3">PIN αναφοράς</label>
        <input name="pin" type="password" class="form-control" id="pin">
    </div>
    <div class="center-contents">
        <button type="submit" class="btn btn-primary mt-5" required>ΠΡΟΒΟΛΗ ΑΝΑΦΟΡΑΣ</button>
    </div>
    </form>

</section>






<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="infoModalLabel">Σημαντική ενημέρωση</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

    <!-- Κείμενο pop-up -->
      <div class="modal-body">
        <p>
            Η διαχείριση και παρακολούθηση των αναφορών που υποβάλλονται στον παρόντα εσωτερικό δίαυλο γίνεται από τον Οργανισμό <span class="bold">{{company.name}}</span>. Τυχόν προκύπτουσες πειθαρχικές παραβάσεις διερευνώνται με βάση τον δημοσιοϋπαλληλικό κώδικα. Οι τυχόν ποινικές παραβάσεις διερευνώνται σύμφωνα με την ισχύουσα νομοθεσία. Τα προσωπικά δεδομένα των προσώπων που ονοματίζονται στην αναφορά θα προστατεύονται σύμφωνα με την κείμενη ενωσιακή και εθνική νομοθεσία περί προστασίας των προσωπικών δεδομένων (GDPR, ν. 4624/2019) και τις διατάξεις του Κεφαλαίου ΣΤ΄ του ν. 4990/2022.
        </p>
        <p>
            Οι εσωτερικές αναφορές δύνανται να υποβληθούν, πέρα από την παρούσα ηλεκτρονική πλατφόρμα, και μέσω των ακόλουθων καναλιών: 
        </p>
        <ul>
            <li>υποβολή αυτοπροσώπως ή ταχυδρομικά στην έδρα του Οργανισμού</li>
            <li>email στην ηλεκτρονική διεύθυνση <a href="mailto:{{company.inbox}}">{{company.inbox}}</a></li>
            <li>προσωπική συνάντηση με τον Υ.Π.Π.Α. του ΦΟΡΕΑ κατόπιν αιτήματός στο <a href="mailto:{{company.inbox}}">{{company.inbox}}</a> ή στην τηλεφωνική γραμμή <a href="tel:{{company.phone}}">{{company.phone}}</a> (Δευτέρα - Παρασκευή  09:00 έως 17:00)</li>
            <li>τηλεφωνική κλήση στην τηλεφωνική γραμμή {{company.phone}} (Δευτέρα - Παρασκευή  09:00 έως 17:00)</li>
        </ul>
        <p id="torinfo">
            Εάν θέλετε να διατηρήσετε την ανωνυμία σας, θα πρέπει να χρησιμοποιήσετε το λογισμικό Tor για να υποβάλετε μια αναφορά. <a href="https://www.torproject.org/download/">Μπορείτε να κατεβάσετε τον browser από εδώ: https://www.torproject.org/download/</a>. Λειτουργεί όπως ο Safari, o Chrome ή άλλοι browsers, με τη διαφορά ότι ο Τor αποκρύπτει τα διαδικτυακά ίχνη σας. 
            Αφού κατεβάσετε και εγκαταστήσετε τον Tor, μπορείτε να εισέλθετε στην διεύθυνση <a id="onionlink"></a> χρησιμοποιώντας τον Τοr, οπότε η διαδικτυακή σας διεύθυνση θα παραμένει μυστική.
        </p>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ΚΛΕΙΣΙΜΟ</button>
        <a id="formlink" href="./new" class="btn btn-primary">ΣΥΝΕΧΕΙΑ</a>
      </div>
    </div>
  </div>
</div>




<script>
    if (window.location.pathname.endsWith('/whistle')) {window.location.href = window.location + "/"}
    let url = new URL(window.location.href);
    let company = url.searchParams.get("company");

    let onionWebsite = 'https://4ilvgtc46d7dtfv22cxtk7iwad2a5ovda7szu2jk4zyqibpalpwfqbyd.onion';     // onion URL
    if (company) {
        document.getElementById("formlink").href = "./new?company=" + company;
        let onionLink = onionWebsite + '/home?company=' + company;
        document.getElementById("onionlink").innerText = onionLink;
        document.getElementById("onionlink").href = onionLink;
    }
    if (window.location.href.includes('.onion')) {
        document.getElementById("torinfo").style.display = "none";
    }
</script>