<div>

    <h1>
        Πολιτική Προστασίας Δεδομένων για τον Εσωτερικό Δίαυλο Αναφορών της
        εταιρίας {{company.name}}
    </h1>

    <h2>
        Εισαγωγή
    </h2>
    <p>
        Η παρούσα Πολιτική Προστασίας Δεδομένων (εφεξής «Η Πολιτική») σας δίνει
        πληροφορίες σχετικά με τον τρόπο με τον οποίο ο Υπεύθυνος Επεξεργασίας
        Δεδομένων ({{company.name}}, εφεξής «Εταιρία») επεξεργάζεται τα
        δεδομένα προσωπικού χαρακτήρα που παρέχονται μέσω του Εσωτερικού Διαύλου
        Αναφορών.
    </p>
    <p>
        Η Εταιρία σας δίνει τη δυνατότητα να υποβάλλετε αναφορές, σύμφωνα με τις
        διατάξεις του Ν. 4990/2022, μέσω της ηλεκτρονικής πλατφόρμας
        Whistleblowing. Εναλλακτικά, μπορείτε να υποβάλλετε αναφορά με τους
        εξής τρόπους:
    </p>
    <ul>
        <li>{{t 'home.modal.channel1'}}</li>
        <li>{{t 'home.modal.channel2'}} <a href="mailto:{{company.inbox}}">{{company.inbox}}</a></li>
        <li>{{t 'home.modal.channel3part1'}} <a href="mailto:{{company.inbox}}">{{company.inbox}}</a> {{t 'home.modal.channel3part2'}} {{company.phone}} ({{or company.hours 'Δευτέρα - Παρασκευή, 09:00 - 17:00' ''}})</li>
        <li>{{t 'home.modal.channel4'}} <a href="tel:{{company.phone}}">{{company.phone}}</a> ({{or company.hours 'Δευτέρα - Παρασκευή, 09:00 - 17:00' ''}})</li>
    </ul>

    <h2>
        Στοιχεία επικοινωνίας του Υπευθύνου Επεξεργασίας
    </h2>
    <p>
        Για την επεξεργασία των δεδομένων σας προσωπικού χαρακτήρα, η οποία
        διενεργείται μέσω της χρήσης της παρούσας ηλεκτρονικής πλατφόρμας,
        Υπεύθυνος Επεξεργασίας είναι η Εταιρία {{company.name}}, {{company.address}}, 
        τηλ.: {{company.phone}}, 
        email: <a href="mailto:{{company.inbox}}">{{company.inbox}}</a>.
    </p>

    <h2>
        Στοιχεία επικοινωνίας του Υπευθύνου Προστασίας Δεδομένων
    </h2>
    <p>
        Για οποιαδήποτε ζήτημα αφορά την επεξεργασία των δεδομένων σας που
        πραγματοποιεί η Εταιρία, μέσω της παρούσας ηλεκτρονικής πλατφόρμας,
        μπορείτε να επικοινωνήσετε με τον Υπεύθυνο Προστασίας Δεδομένων στην
        ηλεκτρονική διεύθυνση
        <a href="mailto:{{company.dpo}}">{{company.dpo}}</a>
        ή στην ταχυδρομική διεύθυνση {{company.address}}.
    </p>

    <h2>
        Προσωπικά δεδομένα που συλλέγει και επεξεργάζεται ο Υπεύθυνος
        Επεξεργασίας Δεδομένων
    </h2>
    <p>
        Ο Υπεύθυνος Επεξεργασίας Δεδομένων συλλέγει και επεξεργάζεται
        (συμπεριλαμβανομένης και της ανταλλαγής και διαβίβασης δεδομένων
        προσωπικού χαρακτήρα από αρμόδιες αρχές) τα προσωπικά δεδομένα (απλά
        ή/και ειδικών κατηγοριών των άρθρων 9 και 10 του Γ.Κ.Π.Δ.)  που
        υποβάλλετε οικειοθελώς, διαμέσου της πλατφόρμας ή των λοιπών καναλιών
        του Εσωτερικού Διαύλου Αναφορών της Εταιρίας και ειδικότερα:
        <ul>
            <li>
                δεδομένα που αφορούν το αναφερόμενο περιστατικό και τα οποία
                μπορούν να οδηγήσουν σε ταυτοποίηση φυσικού προσώπου (του αναφέροντος,
                του αναφερομένου ή τρίτου προσώπου που κατονομάζεται στην αναφορά),
            </li>
            <li>
                λοιπά δεδομένα που δύναται να οδηγήσουν σε ταυτοποίηση
                φυσικών προσώπων, καθώς και στοιχεία επικοινωνίας σας.
            </li>
        </ul>       
    </p>
    <p>
        Δεδομένα περί του αναφερόμενου περιστατικού ή/και στοιχεία επικοινωνίας
        ενδέχεται να συλλέγονται και από άλλες πηγές κατά τη διερεύνηση ή/και
        παρακολούθηση της αναφοράς. Σημειώνεται ότι όλα τα κανάλια Εσωτερικού
        Διαύλου Αναφορών της Εταιρίας σας δίνουν τη δυνατότητα να υποβάλετε την
        αναφορά σας είτε επώνυμα είτε ανώνυμα. Ωστόσο ο Υπεύθυνος Επεξεργασίας
        σας ενθαρρύνει να υποβάλετε την αναφορά σας επώνυμα, καθώς αυτό
        προσδίδει μεγαλύτερη αξιοπιστία στο περιεχόμενο της αναφοράς και τις
        προθέσεις σας, ενώ διευκολύνει την επικοινωνία μεταξύ του αναφέροντος
        και του Υπευθύνου Παραλαβής και Παρακολούθησης Αναφορών της Εταιρίας
        (για αναφορές που δεν υποβάλλονται μέσω της πλατφόρμας) τόσο για
        περαιτέρω διευκρινίσεις όσο και για την ενημέρωσή σας για την πορεία της
        αναφοράς. Σε περίπτωση που δώσετε οποιαδήποτε προσωπικά δεδομένα τρίτων
        προσώπων, πρέπει να συμμορφώνεστε με τους νόμιμους όρους για τη
        διαβίβαση αυτών των δεδομένων στον Υπεύθυνο Επεξεργασίας Δεδομένων,
        για τους σκοπούς που καθορίζονται στην παρούσα Πολιτική. Τα δεδομένα θα
        πρέπει να είναι τα απολύτως αναγκαία και πρόσφορα για την επίτευξη των
        σκοπών του ν. 4990/2022 (προστασία προσώπων που αναφέρουν παραβιάσεις
        ενωσιακού δικαίου από αντίποινα). Δεδομένα προσωπικού χαρακτήρα που
        προφανώς δεν σχετίζονται με την αναφορά  ή είναι υπερβολικά δεν θα
        πρέπει να υποβάλλονται, καθώς σε διαφορετική περίπτωση δεν θα τυγχάνουν
        περαιτέρω επεξεργασίας και θα διαγράφονται αμελλητί.
    </p>
    <h2>
        Για ποιους σκοπούς ο Υπεύθυνος Επεξεργασίας Δεδομένων συλλέγει τα
        προσωπικά  σας δεδομένα;
    </h2>
    <p>
        Ο Υπεύθυνος Επεξεργασία επεξεργάζεται (συλλέγει, χρησιμοποιεί,
        αποθηκεύει κλπ.) για τη διαχείριση της αναφοράς σας προς επίτευξη των
        σκοπών του Εσωτερικού Διαύλου Αναφοράς της Εταιρίας, ήτοι τη διερεύνηση
        και παρακολούθηση αναφορών που αφορούν σε παραβιάσεις του ενωσιακού
        δικαίου και την προστασία που παρέχει ο ν. 4990/2022. Η νομική βάση της
        εν λόγω επεξεργασίας είναι το άρθρο 6 παρ. 1, στοιχ. στ’  του Γ.Κ.Π.Δ.,
        το οποίο επιτρέπει στον Υπεύθυνο Επεξεργασίας Δεδομένων την επεξεργασία
        των προσωπικών δεδομένων όταν αυτό  είναι απαραίτητο για τους σκοπούς
        των έννομων συμφερόντων που επιδιώκει ο Υπεύθυνος Επεξεργασίας ή
        τρίτος. Όσον αφορά δεδομένα ειδικών κατηγοριών που ενδέχεται να
        υποβάλετε με την αναφορά  σας ή που μπορεί να προκύψουν κατά τη
        διερεύνηση ή/και παρακολούθησή της, η επεξεργασία αυτών διενεργείται στη
        βάση που παρέχουν τα άρθρα 9 παρ. 2ζ’ και 10 του Γ.Κ.Π.Δ. Σε περίπτωση
        που ο Υπεύθυνος Επεξεργασίας Δεδομένων χρησιμοποιήσει τα προσωπικά σας
        δεδομένα για άλλους σκοπούς, μη ως άνω αναφερόμενους, θα σας ενημερώσει
        σχετικά με τους συγκεκριμένους σκοπούς και, όταν απαιτείται, σε ποια
        βάση το κάνει, τη στιγμή  που συλλέγει τα προσωπικά δεδομένα από εσάς
        και στον βαθμό που απαιτείται από την κείμενη νομοθεσία.
    </p>
    <h2>
        Σε ποιον ενδέχεται να κοινοποιήσει τα προσωπικά σας δεδομένα ο Υπεύθυνος
        Επεξεργασίας;
    </h2>
    <p>
        Ο Υπεύθυνος Επεξεργασίας Δεδομένων ενδέχεται να μοιραστεί τα δεδομένα
        σας με άλλα τρίτα μέρη (δημόσιες αρχές, δικαστήρια, εισαγγελίες κ.λπ.),
        όταν επιβάλλεται από την υποχρέωση συμμόρφωσής του με το εφαρμοστέο
        νομικό πλαίσιο. Πιο συγκεκριμένα, ο Υπεύθυνος Επεξεργασίας Δεδομένων
        δικαιούται να αποκαλύψει τα προσωπικά  σας δεδομένα σε τρίτους φορείς,
        αρχές ή πρόσωπα, μόνο στις περιπτώσεις που απαιτείται από το ενωσιακό ή
        εθνικό  δίκαιο, στο πλαίσιο ερευνών αρμόδιων αρχών ή στο πλαίσιο
        δικαστικών διαδικασιών και εφόσον αυτή είναι αναγκαία για την
        εξυπηρέτηση των σκοπών του ν. 4990/2022 ή για τη διασφάλιση των
        υπέρτερων δικαιωμάτων του αναφερομένου. Η ως άνω διαβίβαση των
        δεδομένων σας μπορεί να γίνει μόνο αφού προηγηθεί σχετική  έγγραφη
        ενημέρωσής σας σχετικά με τους λόγους αποκάλυψης της ταυτότητάς σας και
        λοιπών εμπιστευτικών πληροφοριών, εκτός αν η ενημέρωσή σας υπονομεύει
        τις έρευνες ή τις δικαστικές διαδικασίες. Μετά την ενημέρωση, έχετε το
        δικαίωμα να υποβάλετε εγγράφως παρατηρήσεις προς τον Υπεύθυνο
        Επεξεργασίας Δεδομένων, οι οποίες δεν γνωστοποιούνται σε κανένα. Ο
        Υπεύθυνος Επεξεργασίας Δεδομένων τις αξιολογεί και στην περίπτωση που
        κρίνει ότι οι προβαλλόμενοι λόγοι δεν είναι επαρκείς, δύναται να
        προχωρήσει σε αποκάλυψη της ταυτότητάς σας και των λοιπών
        εμπιστευτικών στοιχείων. Οποιαδήποτε πρόσβαση στα προσωπικά δεδομένα
        γίνεται στο μέτρο του εκάστοτε αναγκαίου για την επίτευξη του
        επιδιωκόμενου σκοπού. Δεδομένα προσωπικού χαρακτήρα μπορεί να
        γνωστοποιούνται επίσης σε τρίτους κατόπιν αιτήσεως και με τη
        συγκατάθεσή σας, τηρουμένων των διατάξεων του Κεφαλαίου ΣΤ΄ του ν.
        4990/2022.
    </p>
    <h2>
        Για πόσο χρονικό διάστημα διατηρεί τα προσωπικά σας δεδομένα ο Υπεύθυνος
        Επεξεργασίας Δεδομένων;
    </h2>
    <p>
        Τα δεδομένα που υποβάλλονται σε επεξεργασία για τη διαχείριση των
        αναφορών θα αποθηκεύονται για εύλογο και αναγκαίο χρονικό διάστημα,
        προκειμένου να είναι ανακτήσιμα και να τηρηθούν οι απαιτήσεις που
        επιβάλλονται από τον ν. 4990/2022, το ενωσιακό ή εθνικό  δίκαιο και
        πάντως μέχρι την ολοκλήρωση κάθε έρευνας ή δικαστικής διαδικασίας που
        έχει εκκινήσει ως συνέπεια της αναφοράς σε βάρος του αναφερομένου, του
        αναφέροντος ή τρίτων προσώπων. Έτσι, η χρονική περίοδος κατά την οποία ο
        Υπεύθυνος Επεξεργασίας τηρεί τα δεδομένα, εξαρτάται από τις συνέπειες
        που προκύπτουν από τις παρεχόμενες πληροφορίες και από το είδος των
        ενεργειών που έχουν κινηθεί, εάν πρόκειται για την υπόθεση,
        λαμβάνοντας υπόψη τις πληροφορίες αυτές.
    </p>
    <h2>
        Πώς προστατεύουμε τα προσωπικά σας δεδομένα;
    </h2>
    <p>
        Ο Υπεύθυνος Επεξεργασίας Δεδομένων εφαρμόζει τα κατάλληλα τεχνικά και
        οργανωτικά μέτρα προκειμένου να εξασφαλίσει την προστασία των προσωπικών
        δεδομένων σας από απώλεια, κατάχρηση και αλλοίωσή τους, εξασφαλίζοντας
        παράλληλα το απαιτούμενο επίπεδο ασφάλειας ανάλογο με τους κινδύνους
        που υφίστανται λόγω της επεξεργασίας και της φύσης των προσωπικών
        δεδομένων υπό επεξεργασία, σύμφωνα με τις ισχύουσες πολιτικές και
        διαδικασίες. Ο Υπεύθυνος Επεξεργασίας Δεδομένων διαθέτει, επιπλέον,
        κατάλληλα πρότυπα ασφαλείας για την προστασία των προσωπικών δεδομένων
        που διατηρεί.
    </p>
    <h2>
        Τα δικαιώματά σας
    </h2>
    <p>
        Η νομοθεσία περί προστασίας δεδομένων προσωπικού χαρακτήρα, προβλέπει
        συγκεκριμένα δικαιώματα σχετικά με την επεξεργασία των δεδομένων σας. Με
        την παρούσα Πολιτική σας ενημερώνουμε σχετικά με τα δικαιώματα αυτά
        καθώς και τον τρόπο άσκησής τους.
    </p>
    <p>
        Τα δικαιώματα που μπορείτε να ασκήσετε προς τον Υπεύθυνο Επεξεργασίας
        Δεδομένων είναι τα εξής:
    </p>
    <ol>
        <li>
            Δικαίωμα πρόσβασης<br>
            Έχετε το δικαίωμα να μας ζητήσετε, ανά πάσα στιγμή, πληροφορίες για την
            επεξεργασία δεδομένων σας ή και αντίγραφα των προσωπικών σας δεδομένων
            τα οποία τηρούμε (άρθρο 15 Γ.Κ.Π.Δ.).
        </li>
        <li>
            Δικαίωμα διόρθωσης<br>
            Έχετε το δικαίωμα να ζητήσετε, ανά πάσα στιγμή, να διορθώσουμε τις
            πληροφορίες που θεωρείτε ότι είναι ανακριβείς. Έχετε επίσης το δικαίωμα
            να ζητήσετε τη συμπλήρωση των πληροφοριών που θεωρείτε ελλιπείς (άρθρο
            16 Γ.Κ.Π.Δ.).
        </li>
        <li>
            Δικαίωμα διαγραφής («δικαίωμα στη λήθη»)<br>
            Έχετε το δικαίωμα να ζητήσετε να διαγράψουμε τα προσωπικά σας δεδομένα
            για ορισμένους λόγους και υπό τις προϋποθέσεις που προβλέπουν οι
            εφαρμοστέες διατάξεις (άρθρο 17 Γ.Κ.Π.Δ.).  Σας επισημαίνουμε ότι
            ενδέχεται να μην ικανοποιήσουμε τυχόν αίτημά σας για διαγραφή
            δεδομένων, σε ορισμένες περιπτώσεις που αναφέρονται στις εφαρμοστέες
            διατάξεις, περιλαμβανόμενων περιπτώσεων όπου η επεξεργασία είναι
            απαραίτητη για την τήρηση νομικής υποχρέωσης του Υπευθύνου Επεξεργασίας
            Δεδομένων βάσει του ενωσιακού ή του εθνικού δικαίου ή/και την εκπλήρωση
            καθήκοντος προς το δημόσιο συμφέρον.
        </li>
        <li>
            Δικαίωμα περιορισμού της επεξεργασίας<br>
            Έχετε το δικαίωμα να μας ζητήσετε να περιορίσουμε την επεξεργασία των
            δεδομένων σας σε ορισμένες περιπτώσεις υπό τις προϋποθέσεις που
            προβλέπουν οι εφαρμοστέες διατάξεις (άρθρα 18, 19 Γ.Κ.Π.Δ.).
        </li>
        <li>
            Δικαίωμα εναντίωσης<br>
            Έχετε το δικαίωμα να αντιταχθείτε στην επεξεργασία των προσωπικών σας
            δεδομένων. Εάν, ωστόσο, υπάρχουν επιτακτικοί και νόμιμοι λόγοι που
            επιβάλλουν την επεξεργασία και υπερισχύουν των δικαιωμάτων και
            συμφερόντων σας, μπορούμε να αρνηθούμε την εναντίωσή σας, κάτι που
            εξαρτάται από τον λόγο για το οποίο γίνεται η επεξεργασία (άρθρο 21
            Γ.Κ.Π.Δ.).
        </li>
    </ol>
    <p>
        Για να ζητήσετε την άσκηση αυτών των δικαιωμάτων ή να ζητήσετε
        πληροφορίες σχετικά με αυτά, επικοινωνήστε με τον Υπεύθυνο Προστασίας
        Δεδομένων στο
        <a href="mailto:{{company.dpo}}">{{company.dpo}}</a>
        όπως υποδεικνύεται στην αρχή της Πολιτικής.
    </p>
    <p>
        Σε περίπτωση που θεωρείτε ότι δεν ικανοποιήσαμε επαρκώς το αίτημά σας
        και θίγεται κατά οποιονδήποτε τρόπο η προστασία των προσωπικών σας
        δεδομένων, μπορείτε να υποβάλετε καταγγελία στην Αρχή Προστασίας
        Δεδομένων Προσωπικού Χαρακτήρα (Αθήνα, Λεωφόρος Κηφισίας 1-3, Αθήνα,
        Τ.Κ. 115 23 | τηλ: +30 210 6475600). Αναλυτικές οδηγίες υποβολής
        καταγγελίας παρέχονται στην ιστοσελίδα της Αρχής
        (<a href="http://www.dpa.gr/">www.dpa.gr</a>).
    </p>
    <p>
        Επισημαίνεται ιδιαιτέρως ότι η Εταιρία, ως Υπεύθυνος Επεξεργασίας
        Δεδομένων, κατά παρέκκλιση των σχετικών διατάξεων του Γ.Κ.Π.Δ., σύμφωνα
        με το άρθρο 15 του ν. 4990/2022:
        <ul>
            <li>
                δεν παρέχει ενημέρωση για την επεξεργασία των
                προσωπικών δεδομένων στον αναφερόμενο και σε κάθε τρίτο πρόσωπο υπό την
                ιδιότητά  του ως υποκειμένου των δεδομένων (περ. Α’ της παρ. 1 του άρθρου 5, των άρθρων 12 και 13, των παρ.
                1 έως 4 του άρθρου 14 και του άρθρου 34 του Γ.Κ.Π.Δ.) που κατονομάζεται
                στην αναφορά ή τα προσωπικά  δεδομένα του οποίου προέκυψαν από μέτρα
                παρακολούθησης και ιδίως για την πηγή προέλευσης των δεδομένων τους 
                κατά την περ. στ’ της παρ. 2 του άρθρου 14 του Γ.Κ.Π.Δ., κατ’ εφαρμογή της
                παρ. 5 του άρθρου 14 του Γ.Κ.Π.Δ., σε συνδυασμό με το άρθρο 23 του
                Γ.Κ.Π.Δ., για όσο χρονικό  διάστημα απαιτείται και εφόσον κριθεί  αναγκαίο
                για τον σκοπό της πρόληψης και της αντιμετώπισης προσπαθειών παρεμπόδισης
                της αναφοράς, παρακώλυσης, ματαίωσης ή  καθυστέρησης των μέτρων
                παρακολούθησης, ιδίως όσον αφορά στις έρευνες, ή προσπαθειών ταυτοποίησης
                των αναφερόντων, καθώς και για την προστασία τους έναντι αντιποίνων.
            </li>
            <li>
                δύναται να μην ικανοποιήσει τα δικαιώματα που
                παρέχονται από τα άρθρα 15 έως 22 του Γ.Κ.Π.Δ. (ήτοι κατά περίπτωση και με
                τις προϋποθέσεις του Γ.Κ.Π.Δ. δικαίωμα πρόσβασης, διόρθωσης, διαγραφής
                περιορισμού επεξεργασίας, εναντίωσης, αυτοματοποιημένης λήψης αποφάσεων
                περιλαμβανομένης της κατάρτισης προφίλ), όταν ασκούνται από τα αναφερόμενα
                και τρίτα πρόσωπα που κατονομάζονται στην αναφορά, ή προέκυψαν από μέτρα
                παρακολούθησης για όσο χρονικό  διάστημα απαιτείται και εφόσον κριθεί
                αναγκαίο για τον σκοπό της πρόληψης και της αντιμετώπισης προσπαθειών
                παρεμπόδισης της αναφοράς, παρακώλυσης, ματαίωσης ή καθυστέρησης των μέτρων
                παρακολούθησης, ιδίως όσον αφορά στις έρευνες, ή προσπαθειών ταυτοποίησης
                των αναφερόντων, καθώς και για την προστασία τους έναντι αντιποίνων.
            </li>
        </ul>  
    </p>
    <p>
        Στις ως άνω περιπτώσεις περιορισμού των δικαιωμάτων των υποκειμένων των
        δεδομένων, η Εταιρία ως υπεύθυνος επεξεργασίας, λαμβάνει όλα τα αναγκαία
        τεχνικά και οργανωτικά μέτρα για την προστασία των δικαιωμάτων και των
        ελευθεριών των προσώπων.
    </p>
    <p>
        Όταν η Εταιρία αρνείται την ικανοποίηση των δικαιωμάτων, κατόπιν αιτήματος
        των υποκειμένων των δεδομένων, χωρίς να ενημερώσει σχετικά με τον λόγο του
        περιορισμού, το υποκείμενο των δεδομένων δικαιούται να υποβάλει καταγγελία
        στην Αρχή Προστασίας Δεδομένων Προσωπικού Χαρακτήρα (Α.Π.Δ.Π.Χ.). Η ως άνω
        Αρχή μπορεί να ερευνήσει τη συνδρομή των προϋποθέσεων του περιορισμού των
        δικαιωμάτων και να ενημερώσει σχετικά το υποκείμενο, εφόσον η ενημέρωση αυτή
        δεν είναι επιζήμια για την εκπλήρωση των σκοπών αυτών.
    </p>

<div class="center-contents m-4">
    <button class="btn btn-primary" onclick="javascript:history.back()">ΠΙΣΩ ΣΤΗΝ ΥΠΟΒΟΛΗ ΑΝΑΦΟΡΑΣ</button>
</div>