
<h1 class="center-left">Αναφορά {{whistle.id}}</h1>

<h2>Στοιχεία υπόθεσης</h2>

<label>Ημερομηνία παραβίασης</label>
<p>{{whistle.date}}</p>

<label>Φυσικά πρόσωπα</label>
<p>{{whistle.people}}</p>

<label>Αναλυτική περιγραφή περιστατικού</label>
<p>{{whistle.description}}</p>

<label>Κατάσταση υπόθεσης</label>
<p>{{whistle.status}}</p>

<hr>

<h2>Μηνύματα υπόθεσης</h2>




{{#each whistle.messages}}
    <div class="row">
        <div class="col-md-2 pt-3">
            <div class="text-muted">{{role}}</div>
            <div class="text-muted">{{date}}</div>
            <div class="text-muted italics small">{{readByCompany}}</div>
        </div>
        <div class="col-md-10 my-2">
            <textarea class="form-control" readonly disabled>{{text}}</textarea>
        </div>
        <hr class="my-1 d-md-none"->
    </div>
{{/each}}



{{!-- TODO: change action --}}
<form method="POST" action="./pushmessage" enctype="multipart/form-data">
    <div class="my-3">
        <label for="newmessage">Νέο μήνυμα προς τον υπεύθυνο</label>
        <textarea class="form-control" id="newmessage" name="newmessage" placeholder="Νέο μήνυμα" rows="4"></textarea>
        <div class="form-text">
            Μετά την αποστολή του μηνύματος, δεν είναι δυνατή η τροποποίηση ή διαγραφή του.
        </div>
    </div>
    <input type="hidden" name="caseId" value="{{whistle.id}}">

    <div class="mb-3 mt-3">
        <label for="evidence" class="form-label">Νέα αποδεικτικά στοιχεία (προαιρετικά):</label>
        <input type="file" class="form-control" id="evidence" name="evidence" multiple data-input-size="10">
    </div>

    <button type="submit" class="btn btn-success my-2" id="submitBtn" disabled>Αποστολή μηνύματος</button>
</form>




<hr>

{{!-- {{{whistleTable}}} --}}


<script>
    document.getElementById("newmessage").addEventListener("input", function() {
        if (this.value.length > 0) {
            document.getElementById("submitBtn").disabled = false;
        } else {
            document.getElementById("submitBtn").disabled = true;
        }
    });
    document.getElementById("evidence").addEventListener("change", function() {
        if (this.files.length > 0) {
            document.getElementById("submitBtn").disabled = false;
        }
    });
    document.querySelectorAll('input[data-input-size]').forEach(inputElement=>{
        inputElement.addEventListener("change",function(el){
            let maxSizeInMB = parseInt(this.getAttribute("data-input-size"));
            let maxSizeInBytes = maxSizeInMB * 1024 * 1024;
            [...this.files].forEach(file=>{
                if(file.size > maxSizeInBytes){
                    alert("Το αρχείο " + file.name + " υπερβαίνει το μέγιστο όριο των " + maxSizeInMB + " MB");
                    this.value = "";
                }
            });
        })
    });


</script>