
<h1>Αναφορά {{whistle.id}}</h1>

<h2>Στοιχεία υπόθεσης</h2>

<label>Τύπος παραβίασης</label>
<p>{{whistle.type}}</p>

<label>Ημερομηνία παραβίασης</label>
<p>{{whistle.date}}</p>

<label>Τοποθεσία παραβίασης</label>
<p>{{whistle.place}}</p>

<label>Αναλυτική περιγραφή περιστατικού</label>
<p>{{whistle.description}}</p>

<label>Κατάσταση υπόθεσης</label>
<p>{{whistle.status}}</p>

<hr>

<h2>Μηνύματα υπόθεσης</h2>




{{#each whistle.messages}}
    <div class="row">
        <div class="col-md-2"><p>
            <span class="text-muted">{{role}}</span><br>
            <span class="text-muted">{{date}}</span>
        </p></div>
        <div class="col-md-10 my-2">
            <textarea class="form-control" readonly disabled>{{text}}</textarea>
        </div>
    </div>
{{/each}}


<hr>

{{!-- TODO: change action --}}
<form method="POST" action="./test-pushmessage" enctype="multipart/form-data">
    <div class="my-3">
        <label for="newmessage">Νέο μήνυμα προς τον υπεύθυνο</label>
        <textarea class="form-control" id="newmessage" name="newmessage" placeholder="Νέο μήνυμα" rows="4"></textarea>
        <div class="form-text">
            Μετά τη δημοσίευση του μηνύματος, δεν είναι δυνατή η τροποποίηση ή διαγραφή του.
        </div>
    </div>
    <input type="hidden" name="caseId" value="{{whistle.id}}">

    <div class="mb-3 mt-3">
        <label for="evidence" class="form-label">Νέα αποδεικτικά στοιχεία (προαιρετικά):</label>
        <input type="file" class="form-control" id="evidence" name="evidence" multiple>
    </div>

    <button type="submit" class="btn btn-success my-2" id="submitBtn" disabled>Καταχώριση μηνύματος</button>
</form>




<hr>

{{!-- {{{whistleTable}}} --}}


<script>
    document.getElementById("newmessage").addEventListener("input", function() {
        if (this.value.length > 0) {
            document.getElementById("submitBtn").disabled = false;
        } else {
            document.getElementById("submitBtn").disabled = true;
        }
    });
    document.getElementById("evidence").addEventListener("change", function() {
        if (this.files.length > 0) {
            document.getElementById("submitBtn").disabled = false;
        } else {
            document.getElementById("submitBtn").disabled = true;
        }
    });
</script>